<div class="parent">


<form class="child">
    <h1>sign in</h1><br>
    <input type="text" placeholder="email"><br>
    <input type="password" placeholder="password"><br>
    <input type="checkbox">
    <label>Remember password</label> <br>
    <button type="button" class="btn btn-primary" routerLink="/dashboard">sign in</button><br> <br>
    <button  type="button" class="btn btn-danger">sign in with Google</button><br>
    <button  type="button" class="btn btn-info">sign in with Face book</button>
</form>

</div> 


