<div class="parent">
    <div class="child">
        <div class="left">
            <img src="/assets/nature.jpg" class="rounded-circle mx-auto d-block" alt="Cinque Terre" width="100" height="100">
            <h1 class="heading">ken kalil</h1>
            <h6 style="text-align:center">chandravadlamudi@gmail.com</h6>  <hr>
            <h6 style="text-align:center" routerLink="interpolation">interpolation</h6> <br>
            <h6 style="text-align:center" routerLink="event-binding">event binding</h6> <br>
            <h6 style="text-align:center" routerLink="apps">apps</h6> <br>
            <h6 style="text-align:center" routerLink="vehicle-summary">vehicle summary</h6> <br>
            <h6 style="text-align:center" routerLink="create-vehicle">create vehicle</h6> <br>
            <h6 style="text-align:center" routerLink="create-account">create account </h6> <br>
            <h6 style="text-align:center" routerLink="home">home</h6><br>
            <h6 style="text-align:center" routerLink="accounts">accounts</h6><br>
            <h6 style="text-align:center" routerLink="products">products</h6><hr>

            <button type="btn" routerLink="/login">Log out</button> 
            
            
            
        </div>
        
        <div class="right">
          <router-outlet></router-outlet>
        </div>
        
    </div>
</div>
